body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    min-height: 100vh;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin: 0 auto;
    font-family: "Comic Sans MS", cursive;
    max-width: 1200px;
}

header h1 {
    font-family: "Playwrite AU TAS", cursive;
    margin-bottom: 1rem;
}

header {
    background-color: #500110;
    font-family: Copperplate, Papyrus, fantasy;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* nav bar area */
nav {
    font-family: "Noto Sans", "Arial", sans-serif;
    font-size: 1.2rem;
}

.navbar {
    background-color: #CA8787;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff !important;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="grey" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>') ! important;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fbc531;
}

.navbar .navbar-nav .active>.nav-link {
    color: #fbc531;
}

.search-form {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.search-input {
    background-color: white;
    border: 0;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    margin: 0;
    border-radius: 12px;
}

#search-icon {
    display: inline-block;
    border: 0;
    padding: 0.2rem 0.45rem 0.2rem 0.45rem;
    margin: 0;
    background-color: white;
    border-radius: 12px;
}

/* nav bar area */

#cooking-timer {
    text-align: center;
    margin-top: 20px;
}

.cooking-timer-icon {
    width: 50px;
}

#cooking-timer input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
}

#cooking-timer-span {
    display: block;
    margin-top: 10px;
    font-size: 18px;
}

.cooking-timer-buttons {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cooking-timer-buttons:hover {
    background-color: #CA8787;
}

.cooking-timer-buttons {
    background-color: #500110;
}

/* footer area */
footer {
    font-size: 14px;
}

footer .bg-secondary {
    background-color: #CA8787 !important;
}

footer a.text-light:hover {
    color: #fed136 !important;
    text-decoration: none;
}

footer .cizgi {
    border-right: 1px solid #500110;
}

/* footer area */

@media (max-width: 992px) {
    footer .cizgi {
        border-right: none;
    }

    main {
        width: 90%
    }

    .recipe-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .new-ingredient-form-container {
        order: 1;
        width: 80%;
        margin: 0 auto;
    }

    .send-email-container {
        order: 3;
        width: 80%;
        margin: 0 auto;
    }

    .related-recipes-container {
        order: 2;
        width: 80%;
        margin: 0 auto;
    }
}


.page-timer {
    border: 2px solid #500110;
    border-radius: 10px;
    width: 240px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    align-items: center;
}

.page-timer div {
    display: inline-block;
    font-size: 18px;
    /* align-items: center; */
}

.page-timer-text {
    margin-left: 0.8rem
}

#time-spent-on-page {
    font-weight: bold;
    color: #500110;
    margin-right: 0.8rem;
    display: inline-block;
}

.title-timer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#recipe-container {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

#recipe-details {
    flex: 3;
}

#recipe-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.recipe-meta {
    color: #888;
    margin-bottom: 1rem;
}

#recipe-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

#recipe-description {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

#recipe-ingredients ul {
    list-style: disc;
    margin-left: 1rem;
    padding: 0;
}

#recipe-ingredients li {
    position: relative;
    margin-left: 1rem;
}

#recipe-ingredients li::marker {
    color: #500110;
    font-size: 1.2rem;
}

#recipe-ingredients li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2rem;
    height: 100%;
    width: 0.25rem;
    background-color: #fae4e4;
}

#preparation,
#recipe-ingredients {
    margin-top: 1.5rem;
}

#preparation {
    margin-bottom: 2rem;
}


#preparation ul {
    padding-left: 1rem;
    list-style-type: none;
    position: relative;
    counter-reset: step-counter;
}

#preparation li {
    position: relative;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}

#preparation li::before {
    content: counter(step-counter);
    counter-increment: step-counter;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    background-color: #500110;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    left: -1rem;
    top: 0;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

nav,
footer,
.sidebar,
.new-recipe-form-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.send-email-container,
.related-recipes-container,
.new-recipe-form-container,
.new-ingredient-form-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.new-recipe-form-container {
    width: 80%;
    margin: 0 auto
}

.send-email-container h3,
.related-recipes-container h3,
.new-recipe-form-container h3,
.new-ingredient-form-container h3,
.new-ingredient-form-container p {
    margin-top: 0;
    text-align: center;
}

.new-ingredient-form-container p {
    margin: 0 0 1rem 0;
    color: #807f7f;
}


.send-email-container form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.send-email-container input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.send-email-container button {
    padding: 0.5rem;
    background-color: #500110;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-email-container button:hover {
    background-color: #CA8787;
}

.related-recipes-container ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.related-recipes-container li {
    margin: 0.5rem 0;
}

.related-recipes-container a {
    color: #500110;

}

.related-recipes-container a:hover {
    color: #CA8787;
}

#new-recipe-form label #new-ingredient-form label #new-ingredient-form label {
    font-weight: bold;
}

#new-recipe-form {
    display: flex;
    flex-direction: column;
}

#new-recipe-form label {
    margin-bottom: 2px;
}

#new-recipe-form input[type="text"],
#new-recipe-form input[type="url"],
#new-recipe-form textarea,
#new-ingredient-form input[type="text"],
#new-ingredient-form input[type="url"],
#new-ingredient-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#new-recipe-form button,
#new-ingredient-form button {
    padding: 0.5rem;
    background-color: #500110;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#new-recipe-form button:hover,
#new-recipe-form button:hover {
    background-color: #CA8787;
}